---
- name: FIFO data transfer demonstration
  hosts: localhost
  connection: local
  gather_facts: false
  become: true
  vars:
    install_dir: "/usr/bin"
    lino_version: "3.6.1"
    pimo_version: "1.31.3"
    fifo_pets: "pets.jsonl"
    fifo_owners: "owners.jsonl"
    fifo_pets_masking: "pets-masking.jsonl"
    source_db: "source.md"
    target_db: "target.md"


  tasks:
    - name: install
      include_tasks: tasks/install.yml

    - name: pull pets
      include_tasks: tasks/pull.yml
      vars:
        pipeOut: "pets.jsonl"

    - name: Verify the results
      debug:
        msg: "Content of README.md has been sent through pipes to target db"