---
- name: Clear dataconnctor.yaml  
  command: rm -f dataconnctor.yaml  
  ignore_errors: true

- name: "LINO Connect source : {{ source_db }}"
  shell: |
    lino dc add source {{ source_db }} 
    lino dc ping source 
    lino table extract source 
    lino relation extract source  
  args:
    executable: /bin/bash
  register: connectsrc_result

- name: "LINO Connect target : {{ target_db }}"
  shell: |
    lino dc add target {{ target_db }} 
    lino dc ping target 
  args:
    executable: /bin/bash
  register: connecttgt_result

- block:
  - name: "Extract metadata"
    shell: |
      lino id create {{ item }} -i {{ descriptor }}       
      lino id display-plan -i {{ descriptor }} 
    args:
      executable: /bin/bash
    register: extract_result
    vars:
      descriptor: "{{ workspace }}/source/{{ item }}-descriptor.yml"
      #data_out: "business/{{ idName }}_data.jsonl"
    loop: 
      - 'owners'
      - 'pets'

  - name:  "Log - Connecting and Extracting metadata"
    debug:
      msg: 
        - "{{ connectsrc_result }}"
        - "{{ connecttgt_result }}"
        - "{{ extract_result }}"
 