- name: Compare source and target files
  ignore_errors: true
  block:
    - name: Find all files in source directory
      find:
        paths: "{{ workspace }}/source"
        recurse: no
      register: found_source_files

    - name: Diff source against target if target file exists
      shell: |
        TARGET_FILE="{{ workspace }}/target/{{ item.path | basename }}"
        echo $TARGET_FILE >> diff.log
        if [ -f "$TARGET_FILE" ]; then
          diff -y "{{ item.path }}" "$TARGET_FILE"  | grep -B 5  '|' >> diff.log 
        fi
      loop: "{{ found_source_files.files }}"
      # register: diff_results
      changed_when: false
      failed_when: false # Prevent play from stopping if diff finds differences

    - name: Read diff.log
      ansible.builtin.command: cat diff.log
      register: diff_content
      changed_when: false

    - name: Display diff.log 
      ansible.builtin.debug:
        var: diff_content.stdout_lines

- name: Read exec.log content
  ansible.builtin.command: cat exec.log
  register: log_content
  changed_when: false

- name: Display exec.log 
  ansible.builtin.debug:
    var: log_content.stdout_lines