---


- name: Check current Lino version
  ansible.builtin.command: lino --version
  register: lino_check
  # Ignore errors in case 'lino' isn't installed at all yet
  failed_when: false
  changed_when: false


- name: Installation and Configuration Block
  when: "{{ lino_version }} not in lino_check.stdout"
  block:
    - name: Install prerequisite packages
      become: true
      ansible.builtin.package:
        name:
          - curl
          - jq
          - diffutils
          - ca-certificates
      state: present
      environment:
        DEBIAN_FRONTEND: noninteractive


    #- name: Copy certificate to trusted store
    #  become: true
    #  ansible.builtin.copy:
    #    src: cgi_zscaler_ca_root.crt
    #    dest: /usr/local/share/ca-certificates/cgi_zscaler_ca_root.crt
    #    mode: '0644'
    #  notify: Update CA certificates

    - name: Ensure {{ install_dir }} directory exists
      become: true
      ansible.builtin.file:
        path: "{{ install_dir }}"
        state: directory
        mode: '0755'

    - name: "Ensure {{ workspace }} directory exists"
      become: false
      ansible.builtin.file:
        path: "{{ workspace }}"
        state: directory
        mode: '0755'

    - block: 
      - name: Download LINO components to cache (idempotent)
        become: true
        ansible.builtin.get_url:
          url: "{{ item.url }}"
          dest: "/tmp/{{ item.url | basename }}"
          mode: '0644'
          force: no                # don't re-download if file already present
          validate_certs: no
        loop: "{{ lino_components }}"
        loop_control:
          label: "{{ item.name }}"
        register: download_result
        until: download_result is succeeded
        retries: 2
        delay: 5

      - name: Extract LINO components
        become: true
        ansible.builtin.unarchive:
          src: "/tmp/{{ item.url | basename }}"
          dest: "{{ install_dir }}"
          remote_src: yes
          extra_opts: [--strip-components=0] # Adjust if tars have subfolders
          creates: "{{ item.creates }}"
        loop: "{{ lino_components }}"
        loop_control:
          label: "{{ item.name }}"


    - name: Add {{ install_dir }} to user PATH in .bashrc
      become: false
      lineinfile:
        path: ~/.bashrc
        line: 'export PATH="$PATH:{{ install_dir }}"'
        state: present
        insertafter: EOF

    - name: Reload .bashrc to update PATH for the current session
      shell: source ~/.bashrc
      args:
        executable: /bin/bash