---

- include_tasks: connect.yml

- name: Iterate over entities
  include_tasks: pipeline.yml
  loop: "{{ entities }}"
  loop_control:
    loop_var: entity
  vars: 
    idName: "{{ entity.name }}"
    id_json: "{{ entity.id_json }}"
    id_mask: "{{ entity.id_mask }}" 
    yaml_mask: "{{ entity.yaml_mask }}"

# Post processing
- include_tasks: diff.yml

- include_tasks: cleanup.yml