---
# tasks file for nino
# - name: exec lino pipeline for {{ idName }}
#   vars:
#     id_json: "{{ fifos_dir }}/{{ idName }}.jsonl"
#     id_mask: "{{ fifos_dir }}/{{ idName }}-masked.jsonl"
#     yaml_mask: "{{ workspace }}/target/{{ idName }}-masking.yml"

# - include_tasks: "install.yml"
- include_tasks: connect.yml

- include_tasks: fifos.yml
  loop:
    - "{{ id_json }}"
    - "{{ id_mask }}"

- include_tasks: push.yml
  vars:
    pipeIn: "{{ id_mask if yaml_mask is defined else id_json }}"

- include_tasks: mask.yml
  vars:
    pipeIn: "{{ id_json }}"
    pipeOut: "{{ id_mask }}"
    masking: "{{ yaml_mask }}"

- include_tasks: pull.yml
  vars:
    pipeOut: "{{ id_json }}"
