---
- name: "PIMO Masking : {{ idName }}"
  shell: nohup pimo -c {{ masking }} < {{ pipeIn }} > {{ pipeOut }} 2>&1 &
  args:
    executable: /bin/bash
  register: mask_result

- name: "Log - Masking : {{ idName }}"
  debug:
    var: mask_result.cmd
    var: mask_result.stdout_lines