---
- name: "PIMO Masking : {{ idName }}"
  shell: |
    export PATH="$PATH:/usr/lino"
    pimo -c {{ masking }} < {{ data_in }} > {{data_out}}
  args:
    executable: /bin/bash
  register: mask_result

- name: "Log - Masking : {{ idName }}"
  debug:
    var: mask_result.stdout_lines