---
 

- name: "PIMO Masking : {{ idName }}"
  shell: | 
    echo "$ nohup pimo -c {{ masking }} < {{ pipeIn }} > {{ pipeOut }} 2>&1 & " >> exec.log
    nohup pimo -c {{ masking }} < {{ pipeIn }} > {{ pipeOut }} 2>&1 & 
    echo $! >> exec.log
  args:
    executable: /bin/bash
  register: mask_result
  vars:
    masking: "{{ workspace }}/target/{{ idName }}-masking.yml"
    pipeIn: "{{ fifos_dir }}/{{ idName }}.jsonl"
    pipeOut: "{{ fifos_dir }}/{{ idName }}-masking.jsonl"
  when: masking_file.stat.exists

# - name: "Log - Masking : {{ idName }}"
#   debug:
#     msg: 
#       - "{{mask_result.cmd}}"
#       - "{{mask_result.stdout_lines}}" 
#   when: masking_file.stat.exists