---
- name: "PIMO Masking : {{ idName }}"
  shell: |
    pimo -c {{ masking }} < {{ pipeIn }} > {{ pipeOut }}
  args:
    executable: /bin/bash
  register: mask_result

- name: "Log - Masking : {{ idName }}"
  debug:
    var: mask_result.stdout_lines