---
- name: "Declare LINO Push : {{ idName }}"
  shell: |
    nohup lino push target -v5 -i {{ descriptor }} < {{ pipeIn }} 2>&1 &
  args:
    executable: /bin/bash
  register: push_result
  vars:
    descriptor: "{{ workspace }}/target/{{ idName }}-descriptor.yml"
    pipeIn: "{{ workspace }}/{{ idName }}.jsonl"
  async: 10
  poll: 0 

- name: "Log - Push : {{ idName }}"
  debug:
    var: push_result
