---
- name: "LINO Push : {{ idName }}"
  shell: |
    export PATH="$PATH:/usr/lino"
    # lino push target -v5 -i {{ descriptor }} < {{ pipeIn }}
    nohup lino push target cible -v5 -i {{ descriptor }} < {{ pipeIn }} 2>&1 &
    echo "pushed {{ idName }} <- {{ pipeIn }}"
  args:
    executable: /bin/bash
  register: push_result
  vars:
    descriptor: "{{ workspace }}/{{ idName }}-descriptor.yml"
    pipeIn: "{{ workspace }}/{{ idName }}.jsonl"
  async: 10
  poll: 0 


- name: "Log - Push : {{ idName }}"
  debug:
    var: push_result.stdout_lines


# - name: Declare Push
#   shell: "nohup cat {{ pipeIn }} > pets-{{ pipeOut }} 2>&1 &"
#   async: 10
#   poll: 0
#   register: listener_task