---
- name: "Declare LINO Push : {{ idName }}"
  shell: |
    echo "nohup lino push target -v5 -i {{ descriptor }} < {{ pipeIn }} 2>&1 &  
    nohup lino push target -v5 -i {{ descriptor }} < {{ pipeIn }} 2>&1 &
    echo $! >> exec.log
  args:
    executable: /bin/bash
  register: push_result
  vars:
    descriptor: "{{ workspace }}/target/{{ idName }}-descriptor.yml"
    pipeIn: "{{ fifos_dir }}/{{ idName }}.jsonl"
  async: 10
  poll: 0 

- name: "Log - Push : {{ idName }}"
  debug:
    var: push_result
